<h1>Sign In</h1>

<form action="<%= session_url %>" method="post">
  <label>Username</label>
  <input type="string" name="username" value="">
  <br>
  <label>Password</label>
  <input type="password" name="password" value="">
  <br>
  <input type="submit" value="Submit">
</form>
