<h1>Sign Up!</h1>

<form action="<%= users_url %>" method="post">
  <label>Username</label>
  <input type="string" name="user[username]" value="">
  <br>
  <label>Email</label>
  <input type="string" name="user[email]" value="">
  <br>
  <label>Password</label>
  <input type="password" name="user[password]" value="">
  <br>
  <input type="submit" value="Register">
</form>
